<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#ffffff" align="center" valign="top" style="padding: 30px 20px 30px 20px;">

      <p class="heading text-primary-large">
        <a class="link-primary" href="{{profileUrl}}">{{postAuthorName}}</a>
        has a new link pending approval:
      </p>

      <br/>

      <h2><a href="{{linkUrl}}" class="link-link link-action">{{postTitle}}</a></h2>

      <br/>

      <p class="text-primary-large">
        <a class="link-primary" href="{{siteUrl}}/?view=pending">Review pending links</a>
      </p>

    </td>
  </tr>
</table>